/* Tabset */
.tabset-tab {
  background-color: white;
  min-height: 18rem;
  padding: 1rem;
  border: 1px solid #dee2e6;
  border-top: inherit;
}

/* PRICE TABLE */
.row-flex {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}

.price-table {
  min-height: 12rem;
  width: 12rem;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ddd;
  display: block;
  margin: 10px auto;
  padding: 0 0 8px 0;
  text-align: center;
}

.price-table span {
  display: block;
}

.price-table span:first-child {
  padding: 16px 0 8px 0;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
}

.price-table span:nth-child(2) {
  // padding: 8px 0;
  font-weight: bold;
  font-size: 1.5em;
  color: #545b62;
}

/* Colors */
.pt-bg-ingredient1 {
  border-color: #fdca74;
}

.pt-bg-ingredient2 {
  border-color: #80e2ff;
}

.pt-bg-ingredient3 {
  border-color: #4cc7b3;
}

.pt-bg-ingredient4 {
  border-color: #55c2e3;
}

/* Table custom colors */
.table-hover tbody tr:hover {
  background-color: #fff5e5;
}

/* SVG Icons */
.pz:before {
  display: block;
  content: ' ';
  background-size: 4rem 4rem;
  height: 4rem;
  width: 4rem;
}
.pz.pz-mx-auto::before {
  margin: 0 auto;
}
.pz.circle-margin::before {
  margin: .15rem .15rem .15rem .2rem;
}
// Icons made by https://www.flaticon.com/authors/freepik from www.flaticon.com
.pz.pz-flour:before {
  background-image: url('/assets/flour.svg');
}
.pz.pz-water:before {
  background-image: url('/assets/measuring-cup.svg');
}
.pz.pz-salt:before {
  background-image: url('/assets/spoon.svg');
}
.pz.pz-yeast:before {
  background-image: url('/assets/strainer.svg');
}