<div class="container mt-4">

  <h2 class="my-4">Pâte à pizza</h2>
  <div class="row clearfix">
    <div class="col-md-12 column">
      <tabset>
        <tab heading="Portions" class="tabset-tab">
          <table class="table table-hover">
            <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Quantité</th>
              <th class="text-center">Poids en grammes</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="align-middle"><span class="emoticon">👩‍🌾</span> Pâtons adultes</td>
              <td>
                <input type="number" [(ngModel)]="adultCount" (ngModelChange)="valueChange($event)" class="form-control"/>
              </td>
              <td>
                <input type="number" [(ngModel)]="adultWeight" (ngModelChange)="valueChange($event)" class="form-control"/>
              </td>
            </tr>
            <tr>
              <td class="align-middle"><span class="emoticon">👶</span> Pâtons enfant</td>
              <td>
                <input type="number" [(ngModel)]="childCount" (ngModelChange)="valueChange($event)" class="form-control"/>
              </td>
              <td>
                <input type="number" [(ngModel)]="childWeight" (ngModelChange)="valueChange($event)" class="form-control"/>
              </td>
            </tr>
            </tbody>
          </table>
        </tab>
        <tab heading="Paramètres de la pâte" class="tabset-tab">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="text-center">Paramètre</th>
                <th class="text-center">Valeur</th>
                <th class="text-center">Unité</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="align-middle"><i class="pa pz-water"></i> Taux d'hydratation</td>
                <td class="align-middle">
                  <input type="number" [(ngModel)]="paramWaterPercent" (ngModelChange)="valueChange($event)"
                        class="form-control"/>
                </td>
                <td class="align-middle">% du poids de farine en eau</td>
              </tr>
              <tr>
                <td class="align-middle"><i class="pa pz-salt"></i> Sel</td>
                <td class="align-middle">
                  <input type="number" [(ngModel)]="paramSaltPerFlourKg" (ngModelChange)="valueChange($event)"
                        class="form-control"/>
                </td>
                <td class="align-middle">grammes par kilo de farine</td>
              </tr>
              <tr>
                <td class="align-middle"><i class="pa pz-yeast"></i> Levure</td>
                <td class="align-middle">
                  <input type="number" [(ngModel)]="paramYeastPerFlourKg" (ngModelChange)="valueChange($event)"
                        class="form-control"/>
                </td>
                <td class="align-middle">grammes par kilo de farine</td>
              </tr>
              <tr>
                <td class="align-middle"><i class="pa pz-olive-oil"></i> Huile d'olive</td>
                <td class="align-middle">
                  <input type="number" [(ngModel)]="paramOliveOilPerFlourKg" (ngModelChange)="valueChange($event)"
                        class="form-control"/>
                </td>
                <td class="align-middle">grammes par kilo de farine</td>
              </tr>
              </tbody>
            </table>
        </tab>
      </tabset>
    </div>
  </div>

  <h2 class="my-4">Ingrédients</h2>
  <div class="row row-flex">
    <div class="col-12 col-sm-6 col-md-4 col-lg">

      <div class="ingredient i-bg-flour">
        <div>
          <span><i class="pz pz-flour pz-mx-auto"></i> farine</span>
          <span>{{flourWeight}}g</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg">
      <div class="ingredient i-bg-water">
        <div>
          <span><i class="pz pz-water pz-mx-auto"></i> eau</span>
          <span>{{waterWeight}}g</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg">
      <div class="ingredient i-bg-salt">
        <div>
          <span><i class="pz pz-salt pz-mx-auto"></i> sel</span>
          <span>{{saltWeight}}g</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg">
      <div class="ingredient i-bg-yeast">
        <div>
          <span><i class="pz pz-yeast pz-mx-auto"></i> levure</span>
          <span>{{yeastWeight}}g</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg">
      <div class="ingredient i-bg-olive-oil">
        <div>
          <span><i class="pz pz-olive-oil pz-mx-auto"></i> huile d'olive</span>
          <span>{{oliveOilWeight}}g</span>
        </div>
      </div>
    </div>
  </div>

  <span id="forkongithub"><a href="https://github.com/orphaner/pizza-calculator">Fork me on GitHub</a></span>
</div>
