<div class="container">

  <div class="row clearfix">
    <div class="col-md-8 column">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Quantité</th>
          <th class="text-center">Poids en grammes</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td> Pâtons adultes</td>
          <td>
            <input type="text" [(ngModel)]="adultCount" (ngModelChange)="valueChange($event)" class="form-control"/>
          </td>
          <td>
            <input type="text" [(ngModel)]="adultWeight" (ngModelChange)="valueChange($event)" class="form-control"/>
          </td>
        </tr>
        <tr>
          <td> Pâtons enfant</td>
          <td>
            <input type="text" [(ngModel)]="childCount" (ngModelChange)="valueChange($event)" class="form-control"/>
          </td>
          <td>
            <input type="text" [(ngModel)]="childWeight" (ngModelChange)="valueChange($event)" class="form-control"/>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-md-8 column">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th class="text-center">Paramètre</th>
          <th class="text-center">Valeur</th>
          <th class="text-center">Unité</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Taux d'hydratation</td>
          <td>
            <input type="text" [(ngModel)]="paramWaterPercent" (ngModelChange)="valueChange($event)"
                   class="form-control"/>
          </td>
          <td>% du poids de farine en eau</td>
        </tr>
        <tr>
          <td>Sel</td>
          <td>
            <input type="text" [(ngModel)]="paramSaltPerFlourKg" (ngModelChange)="valueChange($event)"
                   class="form-control"/>
          </td>
          <td>grammes par kilo de farine</td>
        </tr>
        <tr>
          <td>Levure</td>
          <td>
            <input type="text" [(ngModel)]="paramYeastPerFlourKg" (ngModelChange)="valueChange($event)"
                   class="form-control"/>
          </td>
          <td>grammes par kilo de farine</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row row-flex">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="price-table pt-bg-black">
        <div>
          <span>farine</span>
          <span>{{flourWeight}}g</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="price-table pt-bg-green">
        <div>
          <span>eau</span>
          <span>{{waterWeight}}g</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="price-table pt-bg-red">
        <div>
          <span>sel</span>
          <span>{{saltWeight}}g</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="price-table pt-bg-blue">
        <div>
          <span>levure</span>
          <span>{{yeastWeight}}g</span>
        </div>
      </div>
    </div>
  </div>
</div>
