body {
  // background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  background-color: #f8f8f8;
  height: 100vh;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}